h3, h5 {
    margin: auto;
    padding-top: 10px;
    text-align: center;
}
body {
    margin: 0px;
}

#ex-container {
    text-align: center;
}

#editor {
    width: 99%;
    height: 300px;
    text-align: left;
}